.cabecalho__link {
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: var(--transition);
}

.cabecalho__link:hover {
    background-color: var(--azul);
}